<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="FSharp.Core" version="4.7.1" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="WebSharper" version="4.6.1.381" targetFramework="net461" />
  <package id="WebSharper.Owin" version="4.6.0.189" targetFramework="net461" />
  <package id="WebSharper.Owin.WebSocket" version="4.6.0.182" targetFramework="net461" />
</packages>